/* Mapping Categories to Colors */

.management {
  background-color: var(--color-management) !important;
}
.business {
  background-color: var(--color-business) !important;
}
.digital {
  background-color: var(--color-digital) !important;
}
.tech {
  background-color: var(--color-tech) !important;
}
.projects {
  background-color: var(--color-projects) !important;
}
.engineering {
  background-color: var(--color-engineering) !important;
}
.quality {
  background-color: var(--color-quality) !important;
}
.practice {
  background-color: var(--color-practice) !important;
}
.law {
  background-color: var(--color-law) !important;
}
.math {
  background-color: var(--color-math) !important;
}
.marketing {
  background-color: var(--color-marketing) !important;
}
.security {
  background-color: var(--color-security) !important;
}
.diploma {
  background-color: var(--color-diploma) !important;
}
.exam {
  background-color: var(--color-exam) !important;
}
.basis {
  background-color: var(--color-basis) !important;
}
